.profiles-card__image.skeleton {
  width: 72px;
  height: 72px;

  border-radius: 360px;
  border: 1px solid rgba(61, 61, 61, 0.2);
}

.profiles-card__name.skeleton {
  width: 120px;
  height: 24px;
}

.profiles-card__details.skeleton {
  width: 200px;
  height: 72px;
}

.profiles-card__tag-title.skeleton {
  width: 200px;
  height: 40px;
  margin: 24px 0;
}

.profiles-card__tag-details.skeleton {
  width: 120px;
  height: 24px;
  margin: 24px 0;
}
